<h1 class ="display-4">Welcome To ArticleBase</h1>
<p class="mb-4">This is sails.js app for managing </p>
<a href="/learn/list" class="btn btn-light">View details</a>
<a href="/learn/add" class="btn btn-light">Add details</a>